# https://wiki.openssl.org/index.php/Manual:Req(1)
[ req ]
prompt = no
distinguished_name = req_distinguished_name
string_mask = utf8only  # This sets a mask for permitted string types


# Subject of the intermediate CA
[ req_distinguished_name ]
O = Example intermediate CA
OU = Example intermediate CA
# emailAddress = intermediateca@intermediateca.example
CN = Example intermediate CA


# extensions added to the signed server cert
[ server_ext ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = CA:FALSE
# nonRepudiation ?
keyUsage = critical, digitalSignature, keyEncipherment, keyAgreement
extendedKeyUsage = serverAuth
