# https://wiki.openssl.org/index.php/Manual:Req(1)
[ req ]
prompt = no
distinguished_name = req_distinguished_name
x509_extensions = root_ext # The extentions to add to the self signed cert
string_mask = utf8only  # This sets a mask for permitted string types


# Subject of the root CA
[ req_distinguished_name ]
O = Example root CA
OU = Example root CA
# emailAddress = rootca@rootca.example
CN = Example root CA


# extensions added to the root CA self-signed certificate
[ root_ext ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:true


# extensions to be added to the signed intermediate cert
[ intermediate_ext ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:true, pathlen:0
keyUsage = critical, cRLSign, keyCertSign
